.navbar {
    ul.menu {
        list-style: none;
        background-color: aqua;

        li {
            padding: 5px;

            a {
                text-decoration: none;
            }
        }
    }
}