*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
#header{
    height: 54px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-family: Verdana,sans-serif;
    background: #fff;
    z-index: 2;
}
.logo-header
{
    letter-spacing: 3px;
    float: left;
    line-height: 54px;
    padding-left: 10px;
}
.logo-header span{
    display: inline-block;
    font-weight: 200;
}
.menu-header {
    float: right;
}
ul.nav{
    list-style: none;
    display: flex;
    line-height: 54px;
    padding:0px 23px

}
.nav a{
    /* display: block; */
    font-size: 15px;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
}
.nav a:hover{
    background-color: #ccc !important;
}
/* banner */
#banner{
    padding-top: 60%;
    background: url(img/architect.jpg) center/cover no-repeat;
    /* margin-top: 54px; */
    position: relative;
}
.banner-text{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
}
.banner-text{
    font-weight: bold;
}
.banner-text h1{
    background: #000;
    opacity: 0.7;
    padding: 8px 16px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
}
.banner-text h2{
    color: #fff;
    display: inline-block;
    font-size: 35px;
    letter-spacing: 7px;
    padding:12px 16px;
}
#section{
    padding:8px 16px;
    margin:0 auto;
}
.section-title{
    font-weight: 400px;
    margin: 10px 8px;
    padding:32px 0px;
    border-bottom: 1px solid #ccc;

}
.section-list::after, .list-about::after{
    content: "";
    display: block;
    clear:left;
}
.section-list .list-item{
    width: calc(100%/4);
    float: left;
    padding:8px;
    position: relative;
}
.list-item img{
    width: 100%;
}
.list-item h2{
    position:absolute;
    top: 8px;
    left: 8px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
}
/* about */
.section-content{
    padding: 8px;
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;

}
.list-about{
    margin-top: 16px;
}
.list-about-item{
    width: calc(100%/4);
    float:left;
    padding: 16px 8px;
}
.list-about-item img{
    width: 100%;
}
.list-about-item h2{
    padding: 16px 0px;
}
.list-about-item h3{
    font-style: italic;
    color:gray;
    font-size: 15px;
    opacity: 0.8;
}
.list-about-item p{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 0px;
}
.btn{
    text-decoration: none;
    display: block;
    color: #000;
    background-color: #ccc;
    padding: 8px;
    text-align: center;
    transition: 0.2s;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(100, 98, 98);
    cursor: pointer;
    color: #fff;
}
/* contact */
.contact-content{
    padding: 16px 8px ;
}
.contact-form{
    padding: 16px 8px;
}
.form-control{
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 16px;
}
#section .map{
    width: 100%;
}
#footer{
    background: #000;
    padding: 32px;
    text-align: center;
    color: #fff;
}
@media(min-width:740px) and (max-width:1023px){
    .col-2{
        width: calc(100%/2) !important ;
    }
}  
@media(max-width: 739px){
    .menu-header{
        display: none;
    }
    .logo-header h2{
        font-size: 18px;
    }
    .banner-text h2{
        display: none;
    }
    .col-1{
        width: 100% !important;
    }
} 